{%extends "core/index.html" %}
{%load static %}

{%block content %} 
<article class="contenedor-card" style="display:flex; justify-content:center;">
<div class="card border-primary" style="width: 200px; height: 300px; background-color:#5f815d;margin:6px; text-align:center; border:2px solid;">
  <div class="card-body">
    <h4 class="card-title"  style="color:white; ">Pedidos y consultas por WhatsApp</h4>
    <i style=" color: #00FF00; font-size: 2.5em;" class="fi fi-brands-whatsapp"></i> 
    <p class="card-text">Click abajo para comunicarte <i class="fi fi-sr-arrow-alt-circle-down"></i> </p>
   <a style="color:white; text-decoration:none; padding: 4px; background-color:  #0D6EFD; border-radius: 99px; border:2px solid  #3787bc; "href="https://wa.me/542243414876?text=Hola%20CASA%20LIMPIA!%20Quisiera%20hacer%20un%20pedido">  ¡CONTACTANOS!</a>
  </div>
</div>
</article>
{%endblock %}